body {
  background-color: #b9e4ff;
}
ul{
  color: #be2c96;
}
p {
  color: red;
}h1 {
  color: orange;
  font-family: Cambria, Cochin, Georgia, Times, ;
  font-size: 300%;
}
p {
  color: #55a75c;
  font-family: Georgia, ;
  font-size: 160%;
}
