body{
    background-color: #bcad8f;
}

.outer-box{
    width: fit-content;
    height: fit-content;
    background-color: antiquewhite;
    border: 4px solid orange;
    border-radius: 10px;
    padding: 5px;
}

.inner-box1{
    width: 530px;
    height: 200px;
    background-color: #b08fbc;
    border: 5px solid #95b443;
    border-radius: 8px;
    margin: 20px auto;
    padding:20px;
    
}

.innerbox1-1{ 
    width: 150px;
    height: 150px; 
    background-color: aqua;
    border: 5px solid #f4ff00;
    float: left; 
    padding: 5px;
}

.innerbox1-2{ 
    width: 150px;
    height: 150px; 
    background-color: #75c9c9;
    border: 5px solid #f4ff00;
    float: right;
    padding: 5px;
}

.inner-box2{
    width: 530px;
    height: fit-content;
    background-color: #bcad8f;
    border: 5px solid #b9ff00;
    border-radius: 8px;
    margin: 20px auto;
    padding:20px;
}
.innerbox2-1{ 
    width: 150px;
    height: 150px; 
    background-color: #1cdbdb;
    float: left; 
    padding:5px;
}

.clear{
    clear: both;
    padding:5px;
}

.innerbox2-2{ 
    width: 150px;
    height: 150px; 
    background-color: #6db9b9;
    float: right;
    padding:5px;
}

.innerbox2-3{ 
    width: 510px;
    height: 150px; 
    background-color: #93275d;
    padding:5px;
    border: 5px solid #f4ff00;
}

.inner-box3{
    width: fit-content;
    height: fit-content;
    background-color: #de87b2;
    border: 5px solid #00ff0b;
    border-radius: 8px;
    margin: 20px auto;
    padding:5px;
}

.innerbox3-1{ 
    width: 150px;
    height: 150px; 
    background-color: #84b96d;
    border: 5px solid #f4ff00;
    float: left;
    padding:10px;
}

.p{
    color: antiquewhite;
}

