*{
	padding: 10px 5px;
	margin: 1px;
 
}
/* Navigation Bar */
.nav-bar {
	padding: 3px 7px;
	
}
.logo{
 width: 122px;
height: 50px;
object-fit: contain
}
nav {
    float: right;
    padding: 7px 0;
}
nav a {
    color: rgb(17, 5, 80);
    text-decoration: none;
    margin-left: 9px;
}

/* Hero Banner */
.hero {
    padding: 79px 10px;
    text-align: center;
    background-image: url("../images/banner-img.jpg");
    background-size: cover;
    background-position: bottom;
    color:rgb(255, 255, 255);
	
}
.thornbloom{
	width: 242px;
}
.button1{
 background-color:  rgb(17, 5, 80);
    text-decoration: none;
    color: #ffffff;
    padding: 4px 6px;
	
}
	
.button2{
	color:  rgb(17, 5, 80);
    text-decoration: none;
    background-color: #ffffff;
    padding: 4px 6px;
	border: 2px solid rgb(17, 5, 80);
	
	
}
.center{
	text-align: center;
}
h1 {
    margin-bottom: 14px;
	color: rgb(255, 255, 255);
}
h2{
	margin-top:10px;
	text-align: center;
	color: rgb(17, 5, 80);
		
}
h3 {
	color: rgb(17, 5, 80);
}
.hero a {
    background-color:  rgb(17, 5, 80);
    text-decoration: none;
    color: #ffffff;
    padding: 4px 6px;
}

/* Main Content */
.left {
    float: left;
    width: 44%;
}

.right {
    float: right;
    width: 50%;
}

section {
    clear:both;
    padding: 24px 20px;
}

.button {
    background-color: #21148b;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    display: inline-block;
    margin-top: 5px;
}

img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: top;
}

.photo-credit {
    color: #ffffff;
    text-align: center;
    font-size: 0.75em;
    
}
.logo pa
